$dark-green: 	#60b761;
$turqoise:		#0093a1;

$box-turqoise-color:	#36aab5;
$box-green-color:		#a3d6a4;

$pale-grey:		#e5e5e5;
$light-grey:	#ccc;
$darker-grey:	#333;
$dark-grey:		#666;
$grey: 			#999;


$header-color:	#c8e6c8;
$footer-color:	#40aeb9;